{% load static %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>

<div class="navbar">
    <a href="{% url 'auth_app:home' %}" class="navbar-brand">My Website</a>
    <div class="navbar-right">
        <a href="{% url 'auth_app:logout' %}" class="navbar-brand">Logout</a>
    </div>
</div>

{% block content %}
{% endblock %}

</body>
</html>
